[data-theme='green'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.88% 0.12 108.44deg);
	--color-primary-100: oklch(93.76% 0.14 113.5deg);
	--color-primary-200: oklch(89.78% 0.17 117deg);
	--color-primary-300: oklch(85.79% 0.18 120.25deg);
	--color-primary-400: oklch(81.98% 0.19 123.01deg);
	--color-primary-500: oklch(78.2% 0.2 126.11deg);
	--color-primary-600: oklch(70.84% 0.19 127.95deg);
	--color-primary-700: oklch(63.31% 0.17 130.12deg);
	--color-primary-800: oklch(55.91% 0.16 132.56deg);
	--color-primary-900: oklch(48.01% 0.14 135.5deg);
	--color-primary-950: oklch(39.91% 0.13 138.74deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.96% 0.12 108.35deg);
	--color-secondary-100: oklch(94.67% 0.14 113.49deg);
	--color-secondary-200: oklch(91.47% 0.17 117.18deg);
	--color-secondary-300: oklch(88.53% 0.19 120.71deg);
	--color-secondary-400: oklch(85.57% 0.2 123.41deg);
	--color-secondary-500: oklch(82.73% 0.21 126.14deg);
	--color-secondary-600: oklch(75.41% 0.2 128.09deg);
	--color-secondary-700: oklch(67.95% 0.18 130.33deg);
	--color-secondary-800: oklch(60.12% 0.17 132.49deg);
	--color-secondary-900: oklch(52.32% 0.15 135.39deg);
	--color-secondary-950: oklch(44.36% 0.14 138.52deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.07% 0.11 108.23deg);
	--color-tertiary-100: oklch(96% 0.14 114.27deg);
	--color-tertiary-200: oklch(94.17% 0.17 117.88deg);
	--color-tertiary-300: oklch(92.41% 0.2 120.96deg);
	--color-tertiary-400: oklch(90.88% 0.22 123.47deg);
	--color-tertiary-500: oklch(89.41% 0.23 126.18deg);
	--color-tertiary-600: oklch(81.95% 0.21 128deg);
	--color-tertiary-700: oklch(74.59% 0.2 130.22deg);
	--color-tertiary-800: oklch(66.89% 0.19 132.34deg);
	--color-tertiary-900: oklch(59.25% 0.17 135.09deg);
	--color-tertiary-950: oklch(51.21% 0.16 137.9deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(92.29% 0.1 183.44deg);
	--color-success-100: oklch(84.61% 0.1 184.23deg);
	--color-success-200: oklch(76.82% 0.1 184.89deg);
	--color-success-300: oklch(69.23% 0.1 183.78deg);
	--color-success-400: oklch(61.38% 0.1 183.83deg);
	--color-success-500: oklch(53.57% 0.1 183.41deg);
	--color-success-600: oklch(47.31% 0.09 180.61deg);
	--color-success-700: oklch(40.87% 0.08 178.04deg);
	--color-success-800: oklch(33.82% 0.06 174.17deg);
	--color-success-900: oklch(26.76% 0.05 168.55deg);
	--color-success-950: oklch(19.18% 0.05 157.79deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-light);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(100% 0 none);
	--color-warning-100: oklch(99.35% 0.03 106.94deg);
	--color-warning-200: oklch(98.75% 0.07 107.52deg);
	--color-warning-300: oklch(98.26% 0.1 108.02deg);
	--color-warning-400: oklch(97.84% 0.12 108.49deg);
	--color-warning-500: oklch(97.5% 0.15 108.87deg);
	--color-warning-600: oklch(89.96% 0.15 109.47deg);
	--color-warning-700: oklch(82.5% 0.15 110.53deg);
	--color-warning-800: oklch(74.68% 0.15 111.23deg);
	--color-warning-900: oklch(66.92% 0.14 112.47deg);
	--color-warning-950: oklch(58.75% 0.13 113.45deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-dark);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(59.28% 0.21 28.53deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.51% 0.19 28.72deg);
	--color-error-900: oklch(46.22% 0.18 28.88deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(99.15% 0.04 107.13deg);
	--color-surface-100: oklch(96.74% 0.07 106.62deg);
	--color-surface-200: oklch(94.65% 0.09 106.59deg);
	--color-surface-300: oklch(92.31% 0.11 106.67deg);
	--color-surface-400: oklch(90.31% 0.13 106.81deg);
	--color-surface-500: oklch(88.07% 0.15 106.91deg);
	--color-surface-600: oklch(80.63% 0.14 107.81deg);
	--color-surface-700: oklch(73.1% 0.14 108.35deg);
	--color-surface-800: oklch(65.53% 0.13 110deg);
	--color-surface-900: oklch(57.62% 0.12 110.79deg);
	--color-surface-950: oklch(49.36% 0.11 112.41deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}