[data-theme='lime'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.375rem;
	--radius-container: 0.375rem;
	--default-border-width: 2px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(98.32% 0.09 107.97deg);
	--color-primary-100: oklch(94.32% 0.12 117.3deg);
	--color-primary-200: oklch(90.71% 0.14 123.32deg);
	--color-primary-300: oklch(86.94% 0.17 127.71deg);
	--color-primary-400: oklch(83.59% 0.19 130.89deg);
	--color-primary-500: oklch(80.12% 0.21 133.57deg);
	--color-primary-600: oklch(72.83% 0.2 135.46deg);
	--color-primary-700: oklch(65.4% 0.19 137.66deg);
	--color-primary-800: oklch(57.63% 0.17 139.56deg);
	--color-primary-900: oklch(50.02% 0.16 141.49deg);
	--color-primary-950: oklch(42.37% 0.14 142.5deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(94.21% 0.11 139.66deg);
	--color-secondary-100: oklch(90.07% 0.15 142.74deg);
	--color-secondary-200: oklch(86.47% 0.18 143.84deg);
	--color-secondary-300: oklch(82.9% 0.2 144.47deg);
	--color-secondary-400: oklch(79.96% 0.23 144.26deg);
	--color-secondary-500: oklch(77.12% 0.24 143.88deg);
	--color-secondary-600: oklch(70.33% 0.22 143.68deg);
	--color-secondary-700: oklch(63.38% 0.2 143.4deg);
	--color-secondary-800: oklch(56.51% 0.18 143.13deg);
	--color-secondary-900: oklch(49.14% 0.16 142.82deg);
	--color-secondary-950: oklch(41.45% 0.14 142.5deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(94.91% 0.09 144.8deg);
	--color-tertiary-100: oklch(88.27% 0.1 145.1deg);
	--color-tertiary-200: oklch(81.79% 0.11 145.68deg);
	--color-tertiary-300: oklch(75.03% 0.11 145.4deg);
	--color-tertiary-400: oklch(68.38% 0.12 145.68deg);
	--color-tertiary-500: oklch(61.39% 0.13 145.46deg);
	--color-tertiary-600: oklch(54.59% 0.12 144.87deg);
	--color-tertiary-700: oklch(47.56% 0.11 144.78deg);
	--color-tertiary-800: oklch(40.01% 0.1 144.03deg);
	--color-tertiary-900: oklch(32.42% 0.09 143.73deg);
	--color-tertiary-950: oklch(24.34% 0.08 142.5deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.05% 0.09 178.66deg);
	--color-success-100: oklch(91.62% 0.1 178.6deg);
	--color-success-200: oklch(89.44% 0.11 177.16deg);
	--color-success-300: oklch(87.13% 0.12 176.9deg);
	--color-success-400: oklch(85.09% 0.13 175.45deg);
	--color-success-500: oklch(82.91% 0.13 174.95deg);
	--color-success-600: oklch(72.85% 0.12 175.7deg);
	--color-success-700: oklch(62.4% 0.1 175.99deg);
	--color-success-800: oklch(51.26% 0.08 178.28deg);
	--color-success-900: oklch(39.72% 0.06 179.74deg);
	--color-success-950: oklch(27.27% 0.04 185.29deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.45% 0.03 106.84deg);
	--color-warning-100: oklch(98.19% 0.06 105.16deg);
	--color-warning-200: oklch(96.98% 0.08 104.92deg);
	--color-warning-300: oklch(95.77% 0.11 105.47deg);
	--color-warning-400: oklch(94.7% 0.13 105.45deg);
	--color-warning-500: oklch(93.72% 0.15 105.38deg);
	--color-warning-600: oklch(86.37% 0.15 106.2deg);
	--color-warning-700: oklch(78.88% 0.15 107.11deg);
	--color-warning-800: oklch(71.01% 0.14 107.56deg);
	--color-warning-900: oklch(63.16% 0.13 108.59deg);
	--color-warning-950: oklch(55.1% 0.12 109.76deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-dark);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(59.28% 0.21 28.53deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.51% 0.19 28.72deg);
	--color-error-900: oklch(46.22% 0.18 28.88deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(99.54% 0.01 159.75deg);
	--color-surface-200: oklch(99.09% 0.01 159.76deg);
	--color-surface-300: oklch(98.74% 0.02 161.02deg);
	--color-surface-400: oklch(98.31% 0.02 160.53deg);
	--color-surface-500: oklch(97.87% 0.03 160.18deg);
	--color-surface-600: oklch(90.43% 0.03 160.99deg);
	--color-surface-700: oklch(82.81% 0.03 159.74deg);
	--color-surface-800: oklch(75.18% 0.03 160.78deg);
	--color-surface-900: oklch(67.17% 0.03 159.48deg);
	--color-surface-950: oklch(58.95% 0.03 160.24deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-dark);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}