[data-theme="praydo"] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: system-ui, sans-serif;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.22rem;
    --radius-base: 0.375rem;
    --radius-container: 0.75rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(71.8% 0.07 169.35deg);
    --color-primary-100: oklch(64.35% 0.07 170.22deg);
    --color-primary-200: oklch(56.73% 0.07 170.88deg);
    --color-primary-300: oklch(49.18% 0.07 171.68deg);
    --color-primary-400: oklch(41.21% 0.07 171.25deg);
    --color-primary-500: oklch(33.03% 0.07 169.68deg);
    --color-primary-600: oklch(28.56% 0.06 170.2deg);
    --color-primary-700: oklch(23.95% 0.05 173.02deg);
    --color-primary-800: oklch(19.41% 0.04 172.81deg);
    --color-primary-900: oklch(14.25% 0.03 180.18deg);
    --color-primary-950: oklch(0% 0 none);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-light);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(96.08% 0.06 193.53deg);
    --color-secondary-100: oklch(89.41% 0.06 188.51deg);
    --color-secondary-200: oklch(82.68% 0.07 185.18deg);
    --color-secondary-300: oklch(76.09% 0.07 179.97deg);
    --color-secondary-400: oklch(69.16% 0.08 177.15deg);
    --color-secondary-500: oklch(62.11% 0.08 173.37deg);
    --color-secondary-600: oklch(55.2% 0.08 172.15deg);
    --color-secondary-700: oklch(48.08% 0.07 170.6deg);
    --color-secondary-800: oklch(40.77% 0.06 169.55deg);
    --color-secondary-900: oklch(33.07% 0.06 166.79deg);
    --color-secondary-950: oklch(24.86% 0.05 163.51deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(100% 0 none);
    --color-tertiary-100: oklch(97.25% 0.01 95.08deg);
    --color-tertiary-200: oklch(94.27% 0.02 92.48deg);
    --color-tertiary-300: oklch(91.5% 0.03 93.51deg);
    --color-tertiary-400: oklch(88.5% 0.04 92.67deg);
    --color-tertiary-500: oklch(85.73% 0.05 93.31deg);
    --color-tertiary-600: oklch(78.5% 0.05 94.16deg);
    --color-tertiary-700: oklch(70.87% 0.05 93.84deg);
    --color-tertiary-800: oklch(63.17% 0.05 96.06deg);
    --color-tertiary-900: oklch(55.1% 0.05 95.77deg);
    --color-tertiary-950: oklch(46.98% 0.05 96.84deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(95.14% 0.09 142.47deg);
    --color-success-100: oklch(89.6% 0.1 143.07deg);
    --color-success-200: oklch(83.99% 0.12 143.76deg);
    --color-success-300: oklch(78.45% 0.13 144.17deg);
    --color-success-400: oklch(72.87% 0.15 144.32deg);
    --color-success-500: oklch(67.4% 0.16 144.07deg);
    --color-success-600: oklch(60.55% 0.15 143.81deg);
    --color-success-700: oklch(53.53% 0.14 143.71deg);
    --color-success-800: oklch(45.99% 0.13 143.36deg);
    --color-success-900: oklch(38.5% 0.11 143.16deg);
    --color-success-950: oklch(30.64% 0.1 142.64deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-dark);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(97.76% 0.13 108.57deg);
    --color-warning-100: oklch(93.4% 0.13 99.37deg);
    --color-warning-200: oklch(88.86% 0.14 90.34deg);
    --color-warning-300: oklch(84.78% 0.15 81.55deg);
    --color-warning-400: oklch(80.6% 0.16 72.85deg);
    --color-warning-500: oklch(76.99% 0.17 64.21deg);
    --color-warning-600: oklch(69.65% 0.16 60.8deg);
    --color-warning-700: oklch(62.15% 0.15 56.71deg);
    --color-warning-800: oklch(54.64% 0.14 52.57deg);
    --color-warning-900: oklch(46.8% 0.13 47.03deg);
    --color-warning-950: oklch(38.82% 0.12 41.14deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(86.96% 0.08 50.65deg);
    --color-error-100: oklch(81.43% 0.1 39.63deg);
    --color-error-200: oklch(76.22% 0.13 33.61deg);
    --color-error-300: oklch(71.76% 0.17 30.81deg);
    --color-error-400: oklch(67.63% 0.2 29.3deg);
    --color-error-500: oklch(64.31% 0.22 28.89deg);
    --color-error-600: oklch(58.2% 0.2 28.88deg);
    --color-error-700: oklch(52.13% 0.19 28.88deg);
    --color-error-800: oklch(45.67% 0.17 28.45deg);
    --color-error-900: oklch(39.31% 0.15 28.53deg);
    --color-error-950: oklch(32.48% 0.13 29.1deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-dark);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(100% 0 none);
    --color-surface-100: oklch(99.67% 0.01 94.94deg);
    --color-surface-200: oklch(99.34% 0.01 95.08deg);
    --color-surface-300: oklch(98.79% 0.02 91.5deg);
    --color-surface-400: oklch(98.47% 0.02 92.46deg);
    --color-surface-500: oklch(98.15% 0.03 93.07deg);
    --color-surface-600: oklch(90.63% 0.03 92.38deg);
    --color-surface-700: oklch(83.16% 0.03 94.76deg);
    --color-surface-800: oklch(75.4% 0.03 91.65deg);
    --color-surface-900: oklch(67.56% 0.03 94.16deg);
    --color-surface-950: oklch(59.26% 0.03 93.46deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-dark);
    --color-surface-contrast-700: var(--color-surface-contrast-dark);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}
